@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground selection:bg-green-500/30;
  }
}

@layer utilities {
  .font-archivo-black {
    font-family: var(--font-archivo-black), sans-serif;
  }

  .font-archivo {
    font-family: var(--font-archivo), sans-serif;
  }
}